.tweet_article{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.user_profile{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.tweet{
  padding-bottom: 25px;
  margin: 25px;
  padding-left: 0.5em;
  border-bottom: 1px solid black;
  width:100%;
}

.avatar{
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 15px;
}

.handle{
  padding-right: 25px;
  padding-top: 25px;
}

#iconcollection{
  display: flex;
  justify-content: space-between;
  white-space: 25px;
  margin-left: auto;
  padding-right: 35px;
  padding-bottom: 15px;
  gap: 15px;
}

#name{
  padding-top: 25px;
  margin-right:auto;
}

.time{
  padding-left: 25px;
  padding-bottom: 15px;
}